{% extends "asite/base.html" %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  {{ form }}
  <div class="test-div">
    {{ formset }}
  </div>
<input type="submit" class="btn btn-primary" value="Submit">
</form>
{% endblock %}

{% block sidebar %}
  <h5 class="bg-light font-weight-bold title">Transactions</h5>
  <ul class="list-group list-group-flush">
    {% for t in object_list %}
    <li class="list-group-item py-1">{{ t.desc }}</li>
    {% endfor %}
  </ul>
{% endblock %}
